---
layout: default
title: Me contacter
order: 4
permalink: /me_contacter/
---

    <main id="main_me_contacter">
      <header>
        <h1>Me contacter</h1>

      </header>
      <div class="cote_cote">
        <form action="https://formspree.io/pro@maiwann.net"
      method="POST">
          <p>
            Pour m’écrire c’est par ici, via le formulaire juste en-dessous ↓
            ou par mail sur pro[@]maiwann.net
          </p>
          <label for="nom">
            Votre nom
          </label>
          <input type="text" id="nom" name="nom" required>
          <label for="email">
            Votre email
          </label>
          <input type="email" id="email" name="email" required>
          <label for="message">
            Votre message
          </label>
          <textarea id="message" name="message" required></textarea>
          <button type="submit" class="lien_button primary_button" value="Send">
            Envoyer le message
          </button>
        </form>
        <section id="reseaux_sociaux">
          <span>Vous pouvez aussi me retrouver sur:</span>
          <ul>
            <li>
              <img src="/img/icone_twitter.svg" alt="Icône Twitter">
              <span> Twitter : </span>
              <a class="lien_inline" href="https://www.twitter.com/{{ site.twitter_username }}" >
                @{{ site.twitter_username }}
              </a>
            </li>
            <li>
              <img src="/img/icone_mastodon.svg" alt="Icône Mastodon">
              <span> Mastodon : </span>
              <a class="lien_inline" href="https://{{ site.mastodon_instance }}/@{{ site.mastodon_username }}" >
                @{{ site.mastodon_username }}
              </a>
            </li>
          </ul>
        </section>
      </div>

    </main>

<!-- Remplacer les <img> par des <svg> mais que devient l'attribut alt ? -->
