/* Ordre déclarations
  #Positionnement
  position: absolute;
  top: 0;
  z-index: 100;

  #Modèle de boîte
  display: block;
  float: right;
  width: 100px;
  height: 100px;

  #Typographie

  #Visuel
  background-color: #f5f5f5;
  border: 1px solid #e5e5e5;

  #Divers */


/*Variables*/
/*Font-weight*/
$light: 200;
$regular: 400;
$semiBold: 600;
$bold: 800;

/*Colors*/

$white: #ffffff;
$black: #000000;
$darkGrey: #333333;

$yellow: #FFAB1D;
$darkYellow: #EF9600;
$cream: #FFF3DD;

$brown: #AB3B16;





@font-face {
	font-family: "Open Sans";
	font-weight: $semiBold;
	src: url('../font/open_sans/OpenSans-SemiBold.ttf');
}

// Ajouter les différentes polices nécéssaires http://css.mammouthland.net/css3/font-face.php

@font-face {
	font-family: "Open Sans";
	font-weight: $bold;
	src: url('../font/open_sans/OpenSans-Bold.ttf');
}

@font-face {
	font-family: "Open Sans";
	font-weight: $light;
	src: url('../font/open_sans/OpenSans-Light.ttf');
}

@font-face {
	font-family: "Open Sans";
  font-weight: $regular;
	src: url('../font/open_sans/OpenSans-Regular.ttf');
}

/*Mettre la font en local*/

body {
  font-family: "Open Sans", sans-serif;
  font-weight: $regular;
  line-height: 1.4;
  font-size: 18px;
}

main {
  margin: 2em auto;
	padding: 0 1em;
	max-width: 45em;

	background: #ffffff;
}

main > header > h1 {
  margin-bottom: 0.5em;

  font-family: "Dancing Script", cursive;
  font-size: 3em;
	text-align: center;
}

main > section,
footer > section {
  margin: 5em auto;
}

main > section > h1,
main > section > header > h1 {
  margin-bottom: 2em;

  font-size: 1.2em;
  font-weight: $bold;
}

main > header > p {
  margin: 1em 0;
}

main > footer {
  padding: 2em;
}

a {
  color: inherit;
  text-decoration: none;
}

textarea {
  font-size: 1em;
  font-family: "Open Sans", sans-serif;
}

em {
  font-weight: $bold;
}

form button {
  font-family: "Open Sans", sans-serif;
}



.lien_inline {
  border-bottom: 1px solid black;
}

.lien_inline:hover {
  border-bottom: 1px solid #FFAB1D;
}

.lien_button {
  display: block;
  margin: 2em auto;
  min-width: 9em;
	max-width: 15em;

  font-weight: $semiBold;
  font-size: 1.2em;
  text-align: center;
  color: $black;

  border-radius: 2em;
}

.primary_button {
  background-color: $yellow;
  border: 0px;
	padding: 0.9em 2em 0.8em;
}

.primary_button:hover {
  background-color: $darkYellow;
}

.secondary_button {
  border: 2px solid $yellow;
	padding: 0.8em 2em;
}

.secondary_button:hover {
  border: 2px solid $darkYellow;
	background-color: $cream;
}

.cote_cote {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

/* Main Header */

#main_header {
  display: flex;
  justify-content: space-between;

	margin: auto;
	padding: 0 1em;
	max-width: 60em;

}

#main_header_wrapper {
	background-color: $yellow;
}

#main_header h1 {
	margin: 0.5em 0 0.2em;
}

#main_header button {
  margin: auto 2em;
  height: 3em;
	display: none;
}

#main_header nav {
  // display: none;
}

#main_header ul {
  display: flex;
	align-items: center;

	height: 100%;
}

#main_header li {
  margin: 0.5em 1em;
	height: 80%;
	display: flex;
	align-items: center;
}

#main_header nav a {
	display: inline-block;
	padding-bottom: 0.2em;
}


#main_header nav a:hover {
  border-bottom: 2px black solid;
	margin-bottom: -2px;
}

/* Main footer */

#main_footer > section > h1 {
  margin-bottom: 2em;

  font-size: 1.2em;
  font-weight: $semiBold;
}

#main_footer {
  display: flex;
  justify-content: center;
	flex-direction: column;

	margin: auto;
	padding: 1em 1em 2em;
	max-width: 50em;

  color: $white;
}

#main_footer_wrapper {
  background-color: $brown;
}

#main_footer > h1 {
  margin: 2em auto;
  width: 10em;

  font-size: 1.4em;
  font-weight: $light;
}

#main_footer > h1 {
	margin: 1em auto 3em;
}

#main_footer h1 span {
  display: flex;
  margin: 0.4em;

  line-height: 1.6;
}

#main_footer h1 img {
  margin-left: 0.6em;
}

#bottom_footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	max-width: 100%;
}

#bottom_footer > section {
	max-width: 20em;
	min-width: 40%;
	padding: 0 1em;
}


#bottom_footer > section > h1 {
	  font-size: 1.2em;
		font-weight: $semiBold;
}

#main_footer li {
  margin: 3em 0;
}

#main_footer li a {
	display: flex;
	align-items: center;
}

#main_footer a:hover span {
	border-bottom: 2px solid $yellow;
	margin-bottom: -2px;
}

#main_footer li a:hover img {
}
//mettre image jaune à la place

#main_footer li span {
  margin-left: 0.5em;
}

#dernier_article h1 {
  margin-bottom: 2em;
}

#dernier_article p {
  padding: 0 2em 2em 0;
}

#dernier_article span {
  font-weight: $semiBold;
}

#main_footer > section > a {
  margin: 3em auto;

  text-align: center;
}

#competition_remuneration {
	margin-top: 2.4em;

	text-align: center;

}


/* Index */
/* Index Header*/

#index_header {
  margin: 8em 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#index_header h1 {
  padding: 0 0.2em;
}

#index_header h1 img {
  max-width: 100%;
}

#index_header h2 {
	padding: 0 2em;
	width: 12em;

  font-size: 1.3em;
	text-align: center;
}

#index_header h2:before,
#index_header h2:after {
  content: "";
  display: inline-block;
  width: 100%;
  margin: 0 0 0.3em;
  border-bottom: 4px solid #FFAB1D;
}

/*Maximes*/

#maximes section {
  margin: 4em auto;

  font-size: 1.8em;
  text-align: center;
	max-width: 18em;
}

/*Ce que j'aime faire*/


#ce_que_j_aime_faire section {
  margin: 2em auto;
	padding: 0 2em;
}

#ce_que_j_aime_faire h2 {
  font-size: 1.4em;
  font-weight: $bold;
	margin-bottom: 0.5em;
}

#ce_que_j_aime_faire footer {
	padding-top: 2em;
}

#ce_que_j_aime_faire footer p {
	margin-bottom: 4em;
}

/*Wishlist*/

#wishlist ul {
  margin: 2em;

  font-weight: $semiBold;

  list-style: disc;
}

#wishlist li {
  margin: 0.5em 0;
}


/* Qui suis-je ? */

#qui_suis_je_header {
	text-align: center;
}

#photo_profil {
  margin: 1em 0 1.5em;
	max-width: 12em;
}

#qui_suis_je_header p {
	text-align: left;
}


/*Passions*/

#passions > section {
 margin-top: 4em;
}

#passions > section > h1 {
  margin-bottom: 1em;

  font-size: 1.2em;
  font-weight: $semiBold;
}

#passions > section > h2 {
  width: 100%;
  margin-top: 2em;

  font-size: 1.6em;
  font-weight: $semiBold;
  text-align: center;
}

#passions article {
  margin: 2em auto;
	display: flex;
	flex-direction: column;
}

#passions article h1 {
  margin: 1em 0;

  font-size: 1.1em;
  font-weight: $semiBold;
}

#passions article a {
  display: inline-block;
  margin: 1em 0;
  max-width: 100%;

  font-weight: $semiBold;
	align-self: flex-end;
}

#passions article a:hover {
	margin-bottom: calc(1em - 2px);

	border-bottom: 2px solid #FFAB1D;
}

#passions article img:hover {
	margin-top: -2px;
	margin-bottom: -2px;

	border-top: 2px solid #FFAB1D;
	border-bottom: 2px solid #FFAB1D;
}

/*Rencontres*/

#rencontres h2:before,
#rencontres h2:after {
  content: "";
  display: inline-block;
  width: calc(100% - 1em);
  margin: 0 0.5em 0.3em;
  border-bottom: 4px solid #FFAB1D;
}

#rencontres ul,
#hobbies ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}


#rencontres li,
#hobbies li {
  padding: 1em;
  max-width: 11em;
	margin: auto;
}

#rencontres img,
#hobbies img {
  max-width: 100%;
}

/* Ce que je fais */

.liste_projets {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}


/* Vignette projet */

.vignette_projet {
  padding: 2em 0;
	max-width: 18em;
}

.vignette_projet article {
	border-bottom: 2px solid #FFAB1D;
}

.vignette_projet h1 {
  margin: 1em auto;

  font-weight: $semiBold;
  font-size: 1.2em;
}

.vignette_projet h2,
.vignette_projet h3 {
  margin: 1em auto;
	padding: 0 0.5em;
}

.vignette_sketchnote {
  padding: 2em 0;
}

.vignette_sketchnote h1 {
  margin: 0.5em 0 0;
	padding: 0 0.5em;

  font-weight: $semiBold;
}

/* Projet */



#main_projet h2 {
  margin: 1em auto 0;
	text-align: center;

  font-weight: $semiBold;
}


#main_projet h3 {
	text-align: center;
}

#main_projet > header > p {
  margin-top: 2em;
}

#main_projet section {
  margin-top: 3em;
}

#main_projet figure {
  margin: 2em 0 4em;
}

#main_projet figure img {
  max-width: 100%;
}

#main_projet figcaption {
  margin: 0.5em 0 2em;

  font-weight: $semiBold;
}

#main_projet .lien_button {
  margin: 3em auto 4em;
}

/*Me contacter*/

#main_me_contacter form {
	width: 20em;
}


#main_me_contacter form p {
	margin-bottom: 2em;
}

#main_me_contacter form label {
  display: block;
  margin-bottom: 0.5em;

  font-weight: $semiBold;
}

#main_me_contacter form input {
  display: block;
  margin: 1em 0 3em;
  padding: 0 0.5em;
  width: 90%;
  height: 2em;

  font-size: 1em;
}

#main_me_contacter form textarea {
  display: block;
  margin: 1em 0 3em;
  padding: 0.2em 0.5em;
  width: 90%;
  height: 15em;
}

#reseaux_sociaux ul {
  margin-top: 2em;
}

#reseaux_sociaux li {
  margin: 2em 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

#reseaux_sociaux ul span {
  margin: 0 0.5em;

  font-weight: $semiBold;
}

/*Faire les survols:
Des liens (border jaune)
Des images (border jaune aussi ?)
Des boutons
avec animation ?

Augmenter la différence entre les titres


*/
