/* Ordre déclarations
  #Positionnement
  position: absolute;
  top: 0;
  z-index: 100;

  #Modèle de boîte
  display: block;
  float: right;
  width: 100px;
  height: 100px;

  #Typographie

  #Visuel
  background-color: #f5f5f5;
  border: 1px solid #e5e5e5;

  #Divers */



@font-face {
	font-family: "Open Sans";
	font-weight: 600;
	src: url('font/open_sans/OpenSans-SemiBold.ttf');
}

@font-face {
	font-family: "Open Sans";
	font-weight: 800;
	src: url('font/open_sans/OpenSans-Bold.ttf');
}

@font-face {
	font-family: "Open Sans";
	font-weight: 200;
	src: url('font/open_sans/OpenSans-Light.ttf');
}

@font-face {
	font-family: "Open Sans";
  font-weight: normal;
	src: url('font/open_sans/OpenSans-Regular.ttf');
}

/*Mettre la font en local*/

body {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  line-height: 1.4;
}

main {
  margin: 0 1em;
}

main > header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2em 0;
}

main > header > h1 {
  font-family: "Dancing Script", cursive;
  font-size: 3em;
}

main > section,
footer > section {
  margin: 3em auto;
}

main > section > h1 {
  margin-bottom: 2em;

  font-size: 1.2em;
  font-weight: 800;
}

main > footer {
  padding: 2em;
}

a {
  color: inherit;
  text-decoration: none;

}

.lien_inline {
  border-bottom: 1px solid black;
}

.lien_button {
  display: block;
  padding: 0.8em 1em;
  margin: 2em auto;
  min-width: 11em;

  font-weight: 600;
  font-size: 1.2em;
  text-align: center;
  color: black;

  border-radius: 2em;
}

.primary_button {
  background-color: #FFAB1D;
}

.secondary_button {
  border: 2px solid #FFAB1D;
}

/* Main Header */

#main_header {
  display: flex;
  justify-content: space-between;

  background-color: #FFAB1D;
}

#main_header button {
  margin: auto 2em;
  height: 3em;
}

#main_header nav {
  display: none;
}

/* Main footer */

footer > section > h1 {
  margin-bottom: 2em;

  font-size: 1.2em;
  font-weight: 600;
}

#main_footer {
  display: flex;
  flex-direction: column;

  width: calc(100%-4em);

  color: white;

  background-color: #AB3B16;
}

#main_footer > h1 {
  margin: 2em auto;
  width: 10em;

  font-size: 1.4em;
  font-weight: 200;
}

#main_footer h1 span {
  display: flex;
  margin: 0.4em;

  line-height: 1.6;
}

#main_footer h1 img {
  margin-left: 0.6em;
}

#main_footer li {
  margin: 1em 0;
  display: flex;
  align-items: center;
}

#main_footer li span {
  margin-left: 0.5em;
}

#dernier_article span {
  font-weight: 200;
}

#dernier_article span {
  font-weight: 600;
}

#main_footer > a {
  margin: 3em auto;

  text-align: center;
}

/* Index */
/* Index Header*/

#index_header {
  margin: 8em 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}


#index_header h2 {
  margin-top: 1em;

  font-size: 1.3em;
}

/*Maximes*/

#maximes section {
  margin: 6em auto;

  font-size: 1.8em;
  text-align: center;
}

#maximes em {
  font-weight: 800;
}

/*Ce que j'aime faire*/

#ce_que_j_aime_faire div {
  margin: 2em;
}

#ce_que_j_aime_faire h2 {
  font-size: 1.3em;
  font-weight: 800;
}

#ce_que_j_aime_faire p {

}

/*Wishlist*/

#wishlist ul {
  margin: 2em;

  font-weight: 600;

  list-style: disc;
}

#wishlist li {
  margin: 0.5em 0;
}

/* Qui suis-je ? */

#photo_profil {
  margin: 1.5em 0;
}

#qui_suis_je_header p {
  margin: 1em 0;
}

/*Passions*/

#passions > section > h1 {
  font-size: 1.2em;
  font-weight: 600;
}

#passions > section > h2 {
  width: 100%;
  margin-top: 2em;

  font-size: 1.6em;
  font-weight: 600;
  text-align: center;
}

#passions article {
  margin: 2em auto;
}

#passions article h1 {
  margin: 1em 0;

  font-size: 1.1em;
  font-weight: 600;
}

#passions article a {
  display: inline-block;
  margin: 1em 0;
  width: 100%;

  font-weight: 600;
  text-align: right;
}

/*Rencontres*/


#rencontres h2:before,
#rencontres h2:after {
  content: "";
  display: inline-block;
  width: calc(100% - 1em);
  margin: 0 0.5em 0.3em;
  border-bottom: 4px solid #FFAB1D;

  background-color; lime;
}


#rencontres ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

#rencontres img {
  max-width: 9em;
}
