/* Ordre déclarations
  #Positionnement
  position: absolute;
  top: 0;
  z-index: 100;

  #Modèle de boîte
  display: block;
  float: right;
  width: 100px;
  height: 100px;

  #Typographie

  #Visuel
  background-color: #f5f5f5;
  border: 1px solid #e5e5e5;

  #Divers */



@font-face {
	font-family: "Open Sans";
	font-weight: 600;
	src: url('font/open_sans/OpenSans-SemiBold.ttf');
}

@font-face {
	font-family: "Open Sans";
	font-weight: 800;
	src: url('font/open_sans/OpenSans-Bold.ttf');
}

@font-face {
	font-family: "Open Sans";
	font-weight: 200;
	src: url('font/open_sans/OpenSans-Light.ttf');
}

@font-face {
	font-family: "Open Sans";
  font-weight: normal;
	src: url('font/open_sans/OpenSans-Regular.ttf');
}

/*Mettre la font en local*/

body {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  line-height: 1.4;
}

main {
  margin: 0 20px;
}

main>section {
  margin: 3em auto;
}

main>section>h1 {
  margin-bottom: 2em;

  font-size: 1.2em;
  font-weight: 800;
}

a {
  color: inherit;
  text-decoration: none;

}

.lien_inline {
  border-bottom: 1px solid black;
}

.lien_button {
  display: block;
  padding: 0.8em 1em;
  margin: 2em auto;

  font-weight: 600;
  font-size: 1.2em;
  text-align: center;

  border-radius: 2em;
}

.primary_button {
  background-color: #FFAB1D;
}

.secondary_button {
  border: 2px solid #FFAB1D;
}

/* Main Header */

#main_header {
  display: flex;
  justify-content: space-between;

  background-color: #FFAB1D;
}

#main_header button {
  margin: auto 2em;
  height: 3em;
}

#main_header nav {
  display: none;
}

/* Main footer */

#main_footer {
  display: flex;
  flex-direction: column;

  width: 100%;

  color: white;

  background-color: #AB3B16;
}

#main_footer h1 {
  margin: 2em auto;
  width: 12em;

  font-size: 1.4em;
  font-weight: 200;
}

#main_footer h1 span {
  display: flex;
  margin: 0.4em;

  line-height: 1.6;
}

#main_footer h1 img {
  margin-left: 0.6em;
}

/* Index */

#index_header {
  margin: 8em 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}


#index_header h2 {
  margin-top: 1em;

  font-size: 1.3em;
}

/*Maximes*/

#maximes section {
  margin: 6em auto;

  font-size: 1.8em;
  text-align: center;
}

#maximes em {
  font-weight: 800;
}

/*Ce que j'aime faire*/

#ce_que_j_aime_faire div {
  margin: 2em;
}

#ce_que_j_aime_faire h2 {
  font-size: 1.3em;
  font-weight: 800;
}

#ce_que_j_aime_faire p {

}

/*Wishlist*/

#wishlist ul {
  margin: 2em;

  font-weight: 600;

  list-style: disc;
}

#wishlist li {
  margin: 0.5em 0;
}
