/* Ordre déclarations
  #Positionnement
  position: absolute;
  top: 0;
  z-index: 100;

  #Modèle de boîte
  display: block;
  float: right;
  width: 100px;
  height: 100px;

  #Typographie

  #Visuel
  background-color: #f5f5f5;
  border: 1px solid #e5e5e5;

  #Divers */



@font-face {
	font-family: "Open Sans";
	font-weight: 600;
	src: url('font/open_sans/OpenSans-SemiBold.ttf');
}

@font-face {
	font-family: "Open Sans";
	font-weight: 800;
	src: url('font/open_sans/OpenSans-Bold.ttf');
}

@font-face {
	font-family: "Open Sans";
	font-weight: 200;
	src: url('font/open_sans/OpenSans-Light.ttf');
}

@font-face {
	font-family: "Open Sans";
  font-weight: normal;
	src: url('font/open_sans/OpenSans-Regular.ttf');
}

/*Mettre la font en local*/

body {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  line-height: 1.4;
}

main {
  margin: 2em auto;
	padding: 0 1em;
	max-width: 45em;

	background: #ffffff;
}

/*main > header > h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}*/

main > header > h1 {
  margin-bottom: 0.5em;

  font-family: "Dancing Script", cursive;
  font-size: 3em;
	text-align: center;
}

main > section,
footer > section {
  margin: 5em auto;
}

main > section > h1,
main > section > header > h1 {
  margin-bottom: 2em;

  font-size: 1.2em;
  font-weight: 800;
}

main > header > p {
  margin: 1em 0;
}

main > footer {
  padding: 2em;
}

a {
  color: inherit;
  text-decoration: none;

}

textarea {
  font-size: 1em;
  font-family: "Open Sans", sans-serif;
}

.lien_inline {
  border-bottom: 1px solid black;
}

.lien_button {
  display: block;
  padding: 0.8em 2em;
  margin: 2em auto;
  min-width: 9em;
	max-width: 15em;

  font-weight: 600;
  font-size: 1.2em;
  text-align: center;
  color: black;

  border-radius: 2em;
}

.primary_button {
  background-color: #FFAB1D;
  border: 0px;
}

.secondary_button {
  border: 2px solid #FFAB1D;
}

.cote_cote {
	display: flex;
	flex-wrap: wrap;
}

/* Main Header */

#main_header {
  display: flex;
  justify-content: space-between;

	margin: auto;
	padding: 0 1em;
	max-width: 60em;

}

#main_header_wrapper {
	background-color: #FFAB1D;
}

#main_header button {
  margin: auto 2em;
  height: 3em;
	/*display: none;*/
}

#main_header nav {
  display: none;
}

#main_header ul {
  display: flex;
	align-items: center;

	height: 100%;
}

#main_header li {
  margin: 0.5em 1em;
	height: 80%;
	display: flex;
	align-items: center;
}

#main_header nav a {
	display: inline-block;
	padding-bottom: 0.2em;
}


#main_header nav a:hover {
  border-bottom: 2px black solid;
	margin-bottom: -2px;
}

/* Main footer */

footer > section > h1 {
  margin-bottom: 2em;

  font-size: 1.2em;
  font-weight: 600;
}

#main_footer {
  display: flex;
  justify-content: center;
	flex-direction: column;

	margin: auto;
	padding: 0 1em 2em;
	max-width: 50em;

  color: white;
}

#main_footer_wrapper {
  background-color: #AB3B16;
}

#main_footer > h1 {
  margin: 2em auto;
  width: 10em;

  font-size: 1.4em;
  font-weight: 200;
}

#main_footer > h1 {
	margin: 1em auto 3em;
}

#main_footer h1 span {
  display: flex;
  margin: 0.4em;

  line-height: 1.6;
}

#main_footer h1 img {
  margin-left: 0.6em;
}

#bottom_footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	max-width: 100%;
}

#bottom_footer > section {
	max-width: 20em;
	min-width: 40%;
	padding: 0 1em;
}


#bottom_footer > section > h1 {
	  font-size: 1.2em;
		font-weight: 600;
}

#main_footer li {
  margin: 3em 0;
  display: flex;
  align-items: center;
}

#main_footer li span {
  margin-left: 0.5em;
}

#dernier_article h1 {
  margin-bottom: 2em;
}

#dernier_article p {
  padding: 0 2em 2em 0;
}

#dernier_article span {
  font-weight: 600;
}

#main_footer > section > a {
  margin: 3em auto;

  text-align: center;
}

#competition_remuneration {
	margin-top: 2.4em;

	text-align: center;

}


/* Index */
/* Index Header*/

#index_header {
  margin: 8em 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#index_header h1 {
  padding: 0 0.2em;
}

#index_header h1 img {
  max-width: 100%;
}

#index_header h2 {
	padding: 0 2em;
	width: 12em;

  font-size: 1.3em;
	text-align: center;
}

#index_header h2:before,
#index_header h2:after {
  content: "";
  display: inline-block;
  width: 100%;
  margin: 0 0 0.3em;
  border-bottom: 4px solid #FFAB1D;
}

/*Maximes*/

#maximes section {
  margin: 4em auto;

  font-size: 1.8em;
  text-align: center;
	max-width: 18em;
}

#maximes em {
  font-weight: 800;
}

/*Ce que j'aime faire*/


#ce_que_j_aime_faire section {
  margin: 2em auto;
	padding: 0 2em;
}

#ce_que_j_aime_faire h2 {
  font-size: 1.4em;
  font-weight: 800;
	margin-bottom: 0.5em;
}

#ce_que_j_aime_faire footer {
	padding-top: 2em;
}

#ce_que_j_aime_faire footer p {
	margin-bottom: 4em;
}

/*Wishlist*/

#wishlist ul {
  margin: 2em;

  font-weight: 600;

  list-style: disc;
}

#wishlist li {
  margin: 0.5em 0;
}


/* Qui suis-je ? */

#photo_profil {
  margin: 1.5em 0;
}


/*Passions*/

#passions > section {
 margin-top: 4em;
}

#passions > section > h1 {
  margin-bottom: 1em;

  font-size: 1.2em;
  font-weight: 600;
}

#passions > section > h2 {
  width: 100%;
  margin-top: 2em;

  font-size: 1.6em;
  font-weight: 600;
  text-align: center;
}

#passions article {
  margin: 2em auto;
}

#passions article h1 {
  margin: 1em 0;

  font-size: 1.1em;
  font-weight: 600;
}

#passions article a {
  display: inline-block;
  margin: 1em 0;
  width: 100%;

  font-weight: 600;
  text-align: right;
}

/*Rencontres*/

#rencontres h2:before,
#rencontres h2:after {
  content: "";
  display: inline-block;
  width: calc(100% - 1em);
  margin: 0 0.5em 0.3em;
  border-bottom: 4px solid #FFAB1D;
}

#rencontres ul,
#passions ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

#rencontres li,
#passions li {
  padding: 0.5em;
  width: calc(49% - 1em);
}

#rencontres img,
#passions img {
  max-width: 100%;
}

/* Ce que je fais */

.liste_projets {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}


/* Vignette projet */

.vignette_projet {
  padding: 2em 0;
	max-width: 18em;
}

.vignette_projet h1 {
  margin: 1em auto;
	padding: 0 0.5em;

  font-weight: 600;
  font-size: 1.2em;
}

.vignette_projet h2,
.vignette_projet h3 {
  margin: 1em auto;
	padding: 0 0.5em;
}

.vignette_sketchnote {
  padding: 2em 0;
	margin: 0 1em;
}

.vignette_sketchnote h1 {
  margin: 0.5em 0 0;
	padding: 0 0.5em;

  font-weight: 600;
}

/* Projet */



#main_projet h2 {
  margin-top: 1em;

  font-weight: 600;
}

#main_projet > header > p {
  margin-top: 2em;
}

#main_projet section {
  margin-top: 3em;
}

#main_projet figure {
  margin: 2em 0 4em;
}

#main_projet figcaption {
  margin: 0.5em 0 2em;

  font-weight: 600;
}

#main_projet .lien_button {
  margin: 3em 0 4em;
}

/*Me contacter*/

form label {
  display: block;
  margin-bottom: 0.5em;

  font-weight: 600;
}

form input {
  display: block;
  margin: 1em 0 3em;
  padding: 0 0.5em;
  width: 90%;
  height: 2em;

  font-size: 1em;
}

form textarea {
  display: block;
  margin: 1em 0 3em;
  padding: 0.2em 0.5em;
  width: 90%;
  height: 15em;
}

#reseaux_sociaux ul {
  margin-top: 2em;
}

#reseaux_sociaux li {
  margin: 2em 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

#reseaux_sociaux ul span {
  margin: 0 0.5em;

  font-weight: 600;
}
