---
layout: default
---

      <main id="main_article">
        <article>
          <header>
            <h1> {{ page.title }} </h1>
            <h2> {{ page.subtitle}} </h2>

            <p> {{ page.intro }} </p>
          </header>
          <section>
            {{ content }}
          </section>
          <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
            ~ griffonné le <span>{% include fr_date.html date=page.date %}</span>
          </time>
        </article>


        <a class="lien_inline" href="{{ site.baseurl }}/ce_que_je_fais.html">
          ← Retour à la page précédente
        </a>
      </main>
