<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <title>
      {% if page.title %} {{ page.title }} - Portfolio de Maïtané Lenoir
      {% else %} {{ site.title }}
      {% endif %}
    </title>

    <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

    <link rel="stylesheet" href="{{ "assets/main.css" | relative_url }}">

    <meta name="viewport" content="width=device-width, initial-scape=1" />

    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicons/favicon-16x16.png">
    <link rel="manifest" href="/img/favicons/manifest.json">
    <link rel="mask-icon" href="/img/favicons/safari-pinned-tab.svg" color="#ffab1d">
    <meta name="theme-color" content="#ffab1d">
    <!-- Piwik -->
      <script type="text/javascript">
        var _paq = _paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
          var u="//ovh.maiwann.net/piwik/";
          _paq.push(['setTrackerUrl', u+'piwik.php']);
          _paq.push(['setSiteId', '1']);
          var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
          g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
        })();
      </script>
    <!-- End Piwik Code -->
    <!-- RSS -->
    {% feed_meta %}
    <!-- End RSS -->

  </head>
