---
layout: default
title: Qui suis-je ?
order: 2
---

    <main>
      <header id="qui_suis_je_header">
        <h1>Qui suis-je ?</h1>
        <img src="img/photo_profil_2.png" alt="Une photo de moi" id="photo_profil">
        <p>
          <em>Amoureuse du web et du numérique,</em> j'aime <em>affiner et améliorer les idées</em> pour les rendre accessibles à chacun.
        </p>
        <p>
          <em>Agile et curieuse,</em> j'utilise toute une palette de compétences hétérogènes pour réaliser des sites responsive ou des applications métiers, sur très grands ou tout petits supports.
        </p>
        <p>
          Concrètement, je fais de l'<em>UX Design</em> en questionnant et observant les utilisateurs pour comprendre comment <em>améliorer leur expérience,</em> puis je conçois des solutions en <em>mêlant graphisme et ergonomie</em> dans une interface qui leur rendra la vie plus belle !
        </p>
        <p>
          Portée par mon expérience en équipe pluridisciplinaire, j'adhère à un échange constant avec chacun pour partager <em>une vision commune autour d'un projet.</em>
        </p>
        <p>
          Aux aguets pour découvrir toujours plus de <em>méthodes et d'outils créatifs,</em> je suis en veille permanente et le web est si vaste que je ne m'y ennuie jamais !
        </p>
      </header>
      <section>
        <h1>Envie de discuter ?</h1>
        <span>Et si on prenait un chocolat ?</span>
        <div class="cote_cote">
          <a class="lien_button primary_button" href="me_contacter.shtml">Avec plaisir !</a>
          <a class="lien_button secondary_button" href="me_contacter.shtml">Un café plutôt…</a>
        </div>
      </section>
      <section id="passions">
        <h1>Je me passionne pour tout un tas de choses :</h1>
        <section>
          <h1>Écrire pour partager ma vision et mes connaissances</h1>
          <ul class="liste_projets">
            <li class="vignette_projet">
              <article>
                <img src="img/vignette/article/design_emotionnel.jpg">
                <h1>
                  <a href="https://perspectives.design/emotion-et-design-le-couple-ideal/">
                  Émotion et Design, le couple idéal
                  </a>
                </h1>
                <p>
                  Le Design émotionnel est le petit plus qui nous fait passer du statut de consommateurs à celui d’amoureux d’une marque. Il est mis en place chez...
                </p>
                <a href="https://perspectives.design/emotion-et-design-le-couple-ideal/">
                  Lire la suite sur Perspectives ➞
                </a>
                <!-- Mettre ➞ en :after ? -->
              </article>
            </li>
            <li class="vignette_projet">
              <article>
                <img src="img/vignette/article/recette_webdesign.jpg">
                <h1>
                  <a href="http://www.24joursdeweb.fr/2015/ma-recette-pour-un-webdesign-reussi/">
                  Ma recette pour un webdesign réussi
                  </a>
                </h1>
                <p>
                  Envisager les webdesigners comme des artistes est un quiproquo récurrent dans le milieu du web. Je ne compte plus le nombre...
                </p>
                <a href="http://www.24joursdeweb.fr/2015/ma-recette-pour-un-webdesign-reussi/">
                  Lire la suite sur 24 jours de web ➞
                </a>
              </article>
            </li>
          </ul>
        </section>
        <section id="rencontres">
          <h1>Rencontrer des gens et échanger autour de mon métier (et pas que)</h1>

          {% for annee in site.rencontres reversed %}
          <h2>{{annee.title}}</h2>
          <ul>
            {% for rencontre in annee.rencontres %}
            <li>
                <a href="{{rencontre.url}}">
                  <img src="{{rencontre.image}}" alt="Logo de {{rencontre.alternative}}">
                </a>
            </li>
            {% endfor %}
          </ul>
          {% endfor %}

          <!-- <h2>2017</h2>
          <ul> -->
            <!-- <li>
              <a href="http://sudweb.fr/">
                <img src="img/conferences/sudweb2016.png" alt="Logo de Sud Web 2017">
              </a>
            </li>
            <li>
              <a href="https://nvite.com/aperoweb/1r1r4m">
                <img src="img/conferences/aperoweb.png" alt="Logo des aperoweb toulousains">
              </a>
            </li> -->
            <!-- <li>
              <a href="https://www.meetup.com/fr-FR/FLUPA-Toulouse/">
                <img src="img/conferences/meetup_flupa.png"     alt="Logo des meetup FLUPA">
              </a>
            </li> -->
            <!-- <li>
              <a href="http://walkingdev.fr/">
                <img src="img/conferences/walking_dev.png" alt="Logo des walkingdev">
              </a>
            </li> -->
          <!-- </ul> -->
          <!-- Ajouter des liens vers les confs ? -->
          <!-- <h2>2016</h2>
          <ul> -->
            <!-- <li>
              <a href="http://sudweb.fr/">
                <img src="img/conferences/sudweb2016.png" alt="Logo de Sud Web 2016">
              </a>
            </li> -->
            <!-- <li>
              <a href="http://2016.kiwiparty.fr/">
                <img src="img/conferences/kiwiparty.png" alt="Logo de Kiwi Party 2016">
              </a>
            </li> -->
            <!-- <li>
              <a href="http://uxday2016.flupa.eu/">
                <img src="img/conferences/uxdays.jpg" alt="Logo des FLUPA UX Days">
              </a>
            </li> -->
            <!-- <li>
              <a href="https://www.paris-web.fr/2016/">
                <img src="img/conferences/parisweb.png" alt="Logo de ParisWeb 2016">
              </a>
            </li> -->
            <!-- <li>
              <a href="http://devopensud.fr/">
                <img src="img/conferences/devopensud.svg" alt="Logo de DevOpenSud">
              </a>
            </li> -->
            <!-- <li>
              <a href="http://www.tedxtoulouse.com/">
                <img src="img/conferences/tedx_toulouse.png" alt="Logo des TedXToulouse">
              </a>
            </li> -->
            <!-- <li>
              <a href="https://nvite.com/aperoweb/1r1r4m">
                <img src="img/conferences/aperoweb.png" alt="Logo des aperoweb toulousains">
              </a>
            </li> -->
          <!-- </ul>
          <h2>2015</h2>
          <ul>
            <li>
              <a href="http://sudweb.fr/">
                <img src="img/conferences/sudweb2015.png" alt="Logo de Sud Web 2015">
              </a>
            </li>
            <li>
              <a href="http://2015.kiwiparty.fr/">
                <img src="img/conferences/kiwiparty.png" alt="Logo de Kiwi Party 2016">
              </a>
            </li>
            <li>
              <a href="https://www.paris-web.fr/2015/">
                <img src="img/conferences/parisweb.png" alt="Logo de ParisWeb 2015">
              </a>
            </li>
          </ul> -->
        </section>
        <section id="hobbies">
          <h1>Et aussi…</h1>
          <ul>
            <li>
              <img src="img/hobbies/animation.png" alt="Image représentant l'animation, une grande main au centre et d'autres petites mains aux alentours.">
            </li>
            <li>
              <img src="img/hobbies/cinema.png" alt="Image représentant le cinéma d'animation, avec Wall-E, la queue de Crocmou de Dragons, et des charbons représentant les films ghibli.">
            </li>
            <li>
              <img src="img/hobbies/culture.png" alt="Image représentant les cultures d'autres pays, avec un djembé pour l'afrique, le mont fuji et un soleil rouge pour le Japon, et une Hinano pour Tahiti.">
            </li>
            <li>
              <img src="img/hobbies/ecologie.png" alt="Image représentant l'écologie avec une feuille et un panda roux trop mignon !'">
            </li>
            <li>
              <img src="img/hobbies/jeu.png" alt="Image représentant les jeux de société avec un dé de 10 faces, un loup-garou de Thiercelieux, et les symboles des éléments de 7 wonders.">
            </li>
            <li>
              <img src="img/hobbies/lecture.png" alt="Image représentant la lecture, avec un gros bouquin relié et décoré.">
            </li>
            <li>
              <img src="img/hobbies/retrogaming.png" alt="Image représentant les jeux vidéos rétro avec une gameboy color, une pokéball, un pacman et une triforce.">
            </li>
          </ul>
          <!-- Changer les fonds des images des hobbies ? -->
        </section>
      </section>
    </main>

<!-- Remplacer les <img> par des <svg> mais que devient l'attribut alt ? -->
