---
layout: default
title: Accueil
---
    <main>
      <header id="index_header">
        <h1>
          <img src="img/logo_entete.svg" alt="Maiwann">
          <!-- Remplacer par un svg qui s'écrit tout seul -->
        </h1>
        <h2>
          <span>Recherche utilisateur</span> · <span>Conception d'interfaces</span>
        </h2>
      </header>

      <section id="maximes">
        <section id="raison_d_etre">
          <em>Concevoir pour tous</em> afin de créer un <em>monde éthique & inclusif</em> où chacun puisse se sentir <em>légitime.</em>
        </section>
        <section id="objectifs">
          <em>Découvrir, créer & partager</em> accompagnée de personnes <em>fiables et inspirantes,</em> dans <em>le respect de mes valeurs</em> et toujours <em>avec enthousiasme !</em>
        </section>
        <footer>
          <p>
            Les valeurs ci-dessus incarnent <em>la raison d'être et les objectifs qui m'animent au quotidien.</em> Elles représentent mon travail et ma façon de concevoir des interfaces, et guident mes choix personnels comme professionnels avec la volonté d'agir en mettant <em>les utilisateurs au centre de mes décisions.</em>
          <p>
        </footer>
      </section>

      <section id="ce_que_j_aime_faire">
        <h1> Ce que j'aime faire </h1>
        <section>
          <h2> Analyser </h2>
          <p>et concilier votre besoin, vos contraintes et le comportement de vos utilisateurs.</p>
        </section>
        <section>
          <h2> Concevoir </h2>
          <p>des solutions utiles et utilisables pour qu'elles soient utilisées.</p>
        </section>
        <section>
          <h2> Améliorer </h2>
          <p> progressivement un produit par itérations pour lui apporter de la valeur.</p>
        </section>
        <section>
          <h2> Collaborer </h2>
          <p> en vous accompagnant dans votre cheminement vers la réalisation de vos idées.</p>
        </section>

        <footer>
          <p>
            Si vous voulez en savoir plus, vous pouvez retrouver l’ensemble de mes aspirations dans <a class="lien_inline" href="{{site.baseurl}}/Mon-manifeste">mon manifeste</a> ou faire un tour du coté <a class="lien_inline" href="{{site.baseurl}}/ce_que_je_fais">de mes réalisations.</a>
          </p>
        </footer>

      </section>

      <section id="wishlist">
        <h1> Ma wishlist </h1>
        <p>J'aime collaborer aux projets qui portent des valeurs telles que:</p>
        <ul>
          <li>Accessibilité</li>
          <li>Open Source</li>
          <li>Bienveillance</li>
          <li>Inclusivité</li>
          <li>Éthique</li>
        </ul>
        <p>Ou encore ceux qui mettent en avant ces thématiques:</p>
        <ul>
          <li>Environnement</li>
          <li>Enfance</li>
          <li>Éducation</li>
          <li>Solidarité</li>
          <li>Service Public</li>
          <li>Engagement citoyen</li>
          <li>Économie Sociale et Solidaire</li>
        </ul>
        <footer>
          Si c'est votre cas, nous avons des choses à faire ensemble !
        </footer>
      </section>

      <section>
        <h1>Envie d'en discuter ?</h1>
        <span> Rencontrons-nous… </span>
        <div class="cote_cote">
          <a class="lien_button primary_button" href="{{ site.baseurl }}/me_contacter"> Dans un café ! </a>
          <a class="lien_button secondary_button" href="{{ site.baseurl }}/me_contacter"> Plutôt dans un parc…</a>
        </div>
      </section>

    </main>
