---
layout: default
---

      <main id="main_article">
        <article>
          <header>
            <h1> {{ page.title }} </h1>
            <h2> {{ page.subtitle}} </h2>
          </header>
          <section>
            {{ content }}
          </section>
          <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
            Griffonné le <span>{% include fr_date.html date=page.date %}</span>
          </time>
          <p class="licence">
            <img alt="Licence Creative Commons" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" />
            L'ensemble des articles du blog sont mis à disposition selon les termes de la <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/" class="lien_inline"> Licence Creative Commons Attribution -  Partage dans les Mêmes Conditions 4.0 International. </a>
          </p>
        </article>


        <a class="lien_inline" href="{{ site.baseurl }}/ce_que_je_fais">
          ← Retour à la page précédente
        </a>
      </main>
