---
layout: default
---

    <main id="main_projet">
      <header>
        <h1> {{ page.problematique }} </h1>
        <h2> {{ page.competences }} </h2>

      </header>
      <section>
        {{ content }}
      </section>


      {% if page.bouton %}
        <a class="lien_button primary_button" href="{{ page.bouton_url }}">
          {{ page.bouton }}
        </a>
      {% endif %}


      <a class="lien_inline" href="{{ site.baseurl }}/ce_que_je_fais">
        ← Retour
      </a>
    </main>
