<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <title>
      {% if page.title %} {{ page.title }}
      {% else %} {{ site.title }}
      {% endif %}
    </title>

    <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

    <link rel="stylesheet" href="{{ "assets/main.css" | relative_url }}">

    <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicons/favicon-16x16.png">
    <link rel="manifest" href="img/favicons/manifest.json">
    <link rel="mask-icon" href="img/favicons/safari-pinned-tab.svg" color="#ffab1d">
    <meta name="theme-color" content="#ffab1d">

  </head>
