
  <body>

    <header id="main_header_wrapper">
      <div id="main_header">
        <div id="subheader">
          <a href="{{site.baseurl}}">
            <h1>
            <!-- Est-ce qu'il faut un attribut title ? -->
            <!-- Ajouter qqchose du genre: <span class="visually-hidden"> Maïtané Lenoir - Portfolio </span> cc Folio Stéphanie Walter ?  -->
            <img src="/img/logo.svg" alt="Maiwann">
            <!-- Remplacer par un svg -->
            </h1>
          </a>

          <button name="nav_mobile" type="button" id="nav_button">
            Menu
            <!-- Ajouter un bouton hamburger ou un contour au mot Menu -->
          </button>
        </div>
        <nav>
          <ul id="main_navigation" style="display:flex">
            {% assign sorted_pages = site.html_pages | sort:"order" %}
              {% for page in sorted_pages %}
              <li>
                <a href="{{page.url}}">
                  {{page.title}}
                </a>
              </li>
              {% endfor %}
          </ul>
        </nav>
      </div>
    </header>

    <script>

      var display_menu = "none";

      document.getElementById("nav_button").onclick = function() {
         if (display_menu == "none"){
           display_menu = "flex";
         }
      else {
         display_menu = "none";
       }
       document.getElementById("main_navigation").style.display = display_menu ;
     }

    </script>
