
  <body>

    <header id="main_header_wrapper">
      <div id="main_header">
        <a href="{{site.url}}">
          <h1>
          <!-- Est-ce qu'il faut un attribut title ? -->
          <!-- Ajouter qqchose du genre: <span class="visually-hidden"> Maïtané Lenoir - Portfolio </span> cc Folio Stéphanie Walter ?  -->
          <img src="img/logo.svg" alt="Maiwann">
          <!-- Remplacer par un svg -->
          </h1>
        </a>

        <button name="nav_mobile" type="button">
          Menu
          <!-- Ajouter un bouton hamburger ou un contour au mot Menu -->
        </button>
        <nav>
          <ul>
            {% assign sorted_pages = site.pages | sort:"order" %}
              {% for page in sorted_pages %}
              <li>
                <a href="{{page.url}}">
                  {{page.title}}
                </a>
              </li>
              {% endfor %}
          </ul>
        </nav>
      </div>
    </header>
